@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.wrap {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    font-family: 'Syne Mono', monospace;
}

.wrap>div {
    background-color: #ffffff73;
}

.grid_1 {
    padding-top: 2rem;
    background-color: #000000;
    opacity: 0.8;
    background-image: linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #bfa8cd 25%, transparent 25%), linear-gradient(45deg, #71acd0 25%, transparent 25%), linear-gradient(315deg, #62afd4 25%, #e5e5f7 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
}

.grid_1 h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 3rem;
    color: #000000;
    display: inline-block;
    margin-bottom: 1rem;
    background-color: #ffffff;
    margin-left: 3rem;
}

.grid_1 .link {
    font-size: 4rem;
}

.grid_1 .design {
    text-shadow: 3px 2px #ff00ff2a, -1px 7px #fffb002a, -3px -3px rgb(194 212 255 / 79%);
}

.grid_2 {
    height: 100%;
    padding-left: 3%;
    width: 100%;
    color: #000000;
    display: grid;
    background-color: #71acd0;
}

.grid_2 p {
    width: 400px;
    position: absolute;
    padding-top: 10rem;
    z-index: 1;
    line-height: 1.3rem;
}

.grid_2 p span {
    background-color: #ffffff;
}

.grid_2 img {
    width: 100%;
    height: auto;
    padding-top: 2rem;

}

.grid_3 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(255, 255, 255);
    color: #000000;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #eccd21 0, #eccd21 1px, #e5e5f7 0, #e5e5f7 50%);
}

.grid_3 h1 {
    background-color: #e5e5f7;
    opacity: 0.8;
}

.grid_3 ul {
    background-color: #e5e5f7;
    opacity: 0.8;
}

.skill {
    z-index: 1;
    position: absolute;
    margin-top: 22rem;
    background-color: #ffffff;
}
.skill ul {
    margin: 0 5px 5px 5px;
}

.skill li {
    list-style: none;
    font-style: italic;
    padding: 0.3rem;
    display: inline-block;
} 
.skill li:not(:last-child):after {
    content: " /";
}

.skill .frontend li {
    background: rgb(19, 19, 19);
    color: #eccd21;

}

.skill .backend li {
    background: rgb(19, 19, 19);
    color: #f744ca;
}

.skill .etc li {
    background: rgb(19, 19, 19);
    color: #71acd0;
}