@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Coming+Soon&family=Mynerve&family=Syne+Mono&family=Ubuntu:wght@300&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --background-rgb: #fde0e0;
  --side-max-width: 85%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background-color: #ffffff;
  background-image: linear-gradient(#444cf726 0.6000000000000001px, transparent 0.6000000000000001px), linear-gradient(to right, #444cf740 0.6000000000000001px, #e5e5f7 0.6000000000000001px);
  background-size: 12px 12px;
}
body {
  margin: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 1px 0 solid #ffffff;
  background-color: #fde0e0;
  max-width: 1470px;
}
a {
  color: inherit;
  text-decoration: none;
  text-shadow:3px 2px #ff00ff2a, -1px 7px #fffb002a, -3px -3px rgb(194 212 255 / 79%);
  font-size: 2rem;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
  text-shadow:none;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #00000094;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.main_wrap {
    display: grid;
    grid-template-columns: [first-line] 3fr [second-line] 6fr[third-line] 3fr [last-line];
    box-sizing: border-box;
    height: 100vh;
    max-width: 1980px;
    overflow: hidden;
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 20%);
    border-right: 1px solid #ffffff;
}